.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-image: url('/images/logoback.png'); 
  background-size: cover;
  background-position: center;
  font-family: Arial, sans-serif; 
}


.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 2rem 9rem; /* Adjust padding to match the spacing in your design */
  background-color: #ffffff; /* Adjust the navbar background color if needed */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* This adds a subtle shadow to the navbar */
}

.navLinks a {
  margin: 0 1rem;
  text-decoration: none;
  color: #333; /* Adjust the color to match your design */
  font-weight: bold; /* Adjust font styling as needed */
}

.contactUs {
  border: 1px solid #0056b3; /* Adjust the border color to match your design */
  padding: 0.5rem 1rem;
  border-radius: 5px; /* Adjust the border radius to match your design */
}

.main {
  text-align: center;
  padding: 22.5rem 1rem; /* Adjust the padding to match your design */
}

.title {
  color: #0056b3; /* Adjust the color to match your design */
  margin-bottom: 2rem; /* Adjust the margin to match your design */
  font-size: 2rem; /* Adjust the font size to match your design */
}

.ctaButtons {
  display: flex;
  gap: 1rem; /* Adjust the gap between buttons to match your design */
}

.ctaButtons button {
  padding: 1rem 2rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem; /* Adjust the font size to match your design */
  font-weight: bold; /* Adjust font styling as needed */
  color: #ffffff; /* Adjust the color to match your design */
  background-color: #0066ff; /* Adjust the background color to match your design */
  transition: background-color 0.3s ease;
}

.ctaButtons button:hover {
  background-color: #0056b3; /* Adjust the hover color to match your design */
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1rem 2rem;
  background-color: #ffffff;
  box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* This adds a subtle shadow to the top of the footer */
}

.footer a {
  text-decoration: none;
  color: #333; /* Adjust the color to match your design */
  margin-right: 1rem; /* Adjust the margin to match your design */
}

.socialMediaIcons {
  /* Add styles for your social media icons here */
}
